data/
data_original/
tutorials/
results/*
scripts/
model_weights/
other/*
!other/dimenet/
*.pth
*.pt


# figures and logs
*.log
*.sh

# VS-code settings
.vscode/

# other
.ipynb_checkpoints/
__pycache__/

